:root {
    --clr-dark: #282C33;
    --clr-red: #E06B74;
    --clr-green: #98C379;
    --clr-yellow: #E5C07A;
    --clr-blue: #62AEEF;
    --clr-pink: #C778DD;
    --clr-cyan: #55B6C2;
    --clr-grey: #ABB2BF;
    --clr-high: #44474F;

    --line-height: 30px;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-grey);

    font-family: 'Courier New', Courier, monospace;

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.mainContainer {
    border: var(--clr-grey) solid 2px;
    padding: 1rem;
    max-height: 80vh;
    overflow: hidden;
    position: relative;
}

/* CONTROL PANEL */

.panelContainer {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.panelContainer p {
    padding: 0;
    margin: 0;
}

.panelContainer p > span {
    text-decoration: underline;
    font-weight: bolder;
}

.panelContainer button {
    margin: 2px;
    font-weight: bolder;
    background-color: var(--clr-dark);
    color: var(--clr-grey);
    border-style: dashed;
    border-color: var(--clr-green);
    cursor: pointer;
    transition: border 0.2s;
    transition: background-color 0.4s;
}

.panelContainer button:active {
    border-style: solid;
    background-color: var(--clr-blue);
    transition: border 0.2s;
    transition: background-color 0.4s;
    transform: scale(0.9);
}

.panelContainer button:disabled {
    border-color: var(--clr-grey);
    border-style: double;
    cursor: initial;
}

/* MEMORY ELEM */

.memoryContainer {
    display: flex;
    position: relative;
    max-width: 70vw;

    border: var(--clr-grey) dashed 2px;
    padding: 1ch;
    overflow-x: scroll;
}

.memoryContainer>.memoryCell {
    border: var(--clr-grey) 2px solid;
    min-width: 3rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5ch;
    margin-left: 0.5ch;
}

.memoryContainer>.memoryCell .id {
    width: 100%;
    border-top: var(--clr-grey) 2px solid;
    text-align: center;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    background-color: var(--clr-green);
    color: var(--clr-dark);
}

.memoryContainer>.memoryCell.demoCell {
    border-right-style: dashed;
}

.memoryContainer>.memoryCell.demoCell .id {
    background-color: var(--clr-red);
}

/* EDITOR */

.editorContainer {
    font-size: var(--line-height);
    overflow: hidden;
    overflow-y: scroll;
    max-height: 60vh;
}

.editor {
    display: flex;
    max-height: 90%;
    overflow: hidden;

}

.editor .lineNums {
    /* display: flex; */
    padding-top: calc(var(--line-height) / 6);
}

.editor .lineNums div {
    position: relative;
    direction: rtl;
    margin-left: 2em;
    margin-right: 0.5em;
    height: var(--line-height);
    /* width: calc( var(--line-height) * 0.5 ); */
}

.editor .lineNums div.warn {
    background-color: var(--clr-yellow);
    color: var(--clr-dark);
}

.editor .lineNums div.err {
    background-color: var(--clr-red);
    color: var(--clr-dark);
}

.editor .lineNums div.warn.err {
    background-color: var(--clr-red);
    color: var(--clr-dark);
}

.editor .lineNums div.warn.err::after {
    --height: 0.2rem;
    content: "";
    background-color: var(--clr-yellow);
    width: 150%;
    height: var(--height);
    display: block;
    position: absolute;
    top: calc(100% - var(--height));
    left: -25%;
    z-index: 1;
    border-top: var(--clr-dark) 2px solid;
    border-bottom: var(--clr-dark) 2px solid;
}

.editor .lineNums div.active::after {
    content: "<";
    color: var(--clr-green);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-150%, 0);
}

.textareaContainer textarea:active,
.textareaContainer textarea:focus {
    border: none;
    border-left: 2px solid var(--clr-grey);
    outline: none;
    box-shadow: none;
}

.textareaContainer textarea {
    width: 40ch;
    min-height: 95%;
    margin: 0;
    border: none;
    border-left: 2px solid var(--clr-grey);
    padding-left: 0.5ch;
    outline: none;
    box-shadow: none;
    line-height: var(--line-height);
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    color: inherit;
    position: relative;
    resize: none;
    overflow: hidden;
}

.textareaContainer .highlighter {
    line-height: var(--line-height);
    padding-top: calc(var(--line-height) / 4);
    position: relative;
    top: 0;
    left: 0;
}

.textareaContainer .highlighter span {
    background-color: var(--clr-high);
    position: absolute;
    width: 100%;
    min-height: var(--line-height);
    font-size: var(--line-height);
    display: block;
    overflow: visible;
    /* z-index: -1; */
}